

*{
		margin: 0px;
		padding: 0px;
}

	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90vw;
		height: 90vh;
		border: 1px solid green;
	}

	body{
		background-image: url("bg7.jpg");
		background-size: cover;
	}


	.two-container{
		min-width: 90vw;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dots{
		display: none;
	}

	.time-containers{
		width: 250px;
		height: 250px;
		margin: 4px;
		background:rgba(255,255,255,0.1);
		border-radius: 12px;
		backdrop-filter: blur(30px);
		border:2px solid transparent;
		background-clip: padding-box;
		box-shadow: 10px 10px 10px rgba(27,28,28,0.5);
		line-height: 1.5;
	}

	.time-containers{
		 font: 150px Berlin Sans FB;
		 text-align: center;
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 padding: 10px;
		 color:#E60000;
		 text-shadow: 3px 3px 6px #FF3737;
	}

	.Date{
		width: 15vw;
		height: 20vh;
	}

	.Date-container{
		display: inline-block;
		width: 300px;
		height: 100px;
		margin-left:200px; 
		background:rgba(255,255,255,0.1);
		border-radius: 12px;
		backdrop-filter: blur(30px);
		border:2px solid transparent;
		background-clip: padding-box;
		box-shadow: 10px 10px 10px rgba(27,28,28,0.5);
		line-height: 1.5;
	}

	.Date-container{
		 font: 40px Berlin Sans FB;
		 /*text-align: center;*/

		 display: flex;
		 align-items: center;
		 justify-content: center;
		 padding: 10px;
		 color:#E60000;
		 text-shadow: 3px 3px 3px #FF3737;
	}

	.AMPM{
		width: 100vw;
		height: 20vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;

	}

	.AMPM-container{
		width: 300px;
		height: 100px;
		margin:4px;
		margin-right:200px;
		background:rgba(255,255,255,0.1);
		border-radius: 12px;
		backdrop-filter: blur(30px);
		border:2px solid transparent;
		background-clip: padding-box;
		box-shadow: 10px 10px 10px rgba(27,28,28,0.5);
		line-height: 1.5;
	}

	.AMPM-container{
		 font: 50px Berlin Sans FB;
		 /*text-align: center;*/
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 padding: 10px;
		 color:#E60000;
		 text-shadow: 3px 3px 3px #FF3737;
	}



